*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
h1{
  padding: 5%;
}
#form{
  background: rgba(0,0,0,.5);
  padding:5%;
  margin: auto;
  width: 60%;
  margin-top: 5%;
  border-radius: 5px;
}
input{
  border:none;
  border-radius:6px;
  width: 70%;
  height: 2em;
  margin:5px 0 5px 0;
  background: rgba(0,0,0,.6);
  color: #fff;
  text-indent: 4px;
}
select{
  width:70%;
  height: 2em;margin:5px 0 5px 0;
  background: rgba(0,0,0,.6);
  color: #fff;
}
button{
  width: 48%;
  padding: 6px;
  border-radius: 4px;
  border: none;
  background: rgba(255,0,130,.2);
  cursor: pointer;
}
button:hover{
  background: rgba(255,0,240,.2);
}
table{
  border-collapse: collapse;
  margin: auto;
  margin-top: 3%;
}
th,td{
  padding:15px;
  border:none;
  background: rgba(130,130,0,.5);
}
td{
  background: rgba(255,130,255,.4);
  color:#000;
}
.bajo{
  width: 13%;
  background-color: white;
  float: right;
  margin-right: 155px;
}
#Total{
  background-color: yellow;
  float: right;

}